<div id="wide-sidebar" class="row-fluid">
    <div class="span2">
        <ul class="nav nav-tabs nav-stacked">
            <li><a href="#/sources">Data Source</a></li>
            <li class="navigation-active"><a href="#/queues">Queue Data</a></li>
            <li><a href="#/errors">Error Data</a></li>
        </ul>
    </div>
    <div class="span8">
        <div class="clearfix">
            <div class="row">
                <div class="span4 pull-right">
                    <input type="text" class="search-query search-query-size"
                           ng-model="search" ng-change="filterQueue()" />
                </div>
            </div>
            <div class="row">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>#</th>
                        <th>Sender</th>
                        <th>Kind</th>
                        <th>Submitted On</th>
                        <th>Form Data</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-hide="queues.length">
                        <td colspan="4">No data in the database.</td>
                    </tr>
                    <tr ng-repeat="queue in queues | orderBy:'submitted':true">
                        <td>
                            <input type="checkbox" value="{{queue.uuid}}"
                                   ng-checked="selected[queue.uuid]" ng-model="selected[queue.uuid]">
                        </td>
                        <td><a href="#/queue/{{queue.uuid}}"><i class=icon-edit></i></a></td>
                        <td>{{queue.source}}</td>
                        <td>{{queue.discriminator}}</td>
                        <td>{{queue.submitted}}</td>
                        <td><pre>{{queue.payload | truncate:45 }}</pre></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="noOfPages > 1" class="row">
                <div class="span12 pull-left">
                    <pagination num-pages="noOfPages" current-page="currentPage" max-size="maxSize" boundary-links="true"></pagination>
                </div>
            </div>
            <div ng-show="queues.length" class="row">
                <div class="span12 pull-left">
                    <button type="submit" ng-click="delete()" class="btn">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
