<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

    <!-- Module Properties -->
    <id>muzimaprocessor</id>
    <name>Muzima Processor Module</name>
    <version>1.0.0</version>
    <package>org.openmrs.module.muzimaprocessor</package>
    <author>Muzima Team</author>
    <description>
        Muzima module to process forms from mobile devices.
    </description>
    <updateURL>https://modules.openmrs.org/modules/download/muzimaprocessor/update.rdf</updateURL>
    <require_version>1.8.4</require_version>
    <!-- / Module Properties -->

    <require_modules>
        <require_module>org.openmrs.module.uiframework</require_module>
    </require_modules>

    <!-- Module Activator -->
    <activator>org.openmrs.module.muzimaprocessor.MuzimaProcessorActivator</activator>


    <!-- Adds link to admin page -->
    <extension>
        <point>org.openmrs.admin.list</point>
        <class>org.openmrs.module.muzimaprocessor.extension.html.AdminList</class>
    </extension>

    <!-- Maps hibernate file's, if present -->
    <mappingFiles>
        FormDataQueue.hbm.xml
    </mappingFiles>

    <!-- Internationalization -->
    <!-- All message codes should start with muzimaprocessor. -->
    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>
    <messages>
        <lang>fr</lang>
        <file>messages_fr.properties</file>
    </messages>
    <messages>
        <lang>es</lang>
        <file>messages_es.properties</file>
    </messages>
    <!-- /Internationalization -->

</module>
